h1{
    color: saddlebrown;
}
a {
    color: saddlebrown;
}
ul{
    text-align: center;
}
li{
    list-style-position: inside;
}
h2{
    text-align: center;
}
p {
    text-align: center;
}
h3{
    text-align: center;
}
.image{
    position: relative;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}
ol{
    text-align: center;
}